.flipCard {
    
    border: 1px solid gray;
    border-radius: 10px;
    

    text-align: center;
}
.flipContainer {
    width: 250px;
    height: 300px;
}
.FCFront, .FCBack {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.FCBack {
    background-color: whitesmoke;
}
.Flashcards {
    height: calc(100vh - 36px);
}